footer{
    width: 90%;
    height: 35vh;
    background-color: rgba(42, 41, 41, 0.082);
    color: white;
  margin-top: 30px;
    padding: 20px;
    border-radius: 11px;
}footer h2{
    margin-left: 540px;
padding: 22px;

}footer i{
    text-align: center;
    padding: 38px;
}.icon4{
    margin-left: 580px;
    border: 1px solid white;
    padding: 10px;
}.icon5{
    border: 2px solid white;
    padding: 10px;
    margin: 8px;
}footer a{
    color: white;
}footer p{
    margin-left:580px ; 
    color: white;
}